global
  log /dev/log local0
  maxconn 2000
  user haproxy
  group haproxy
  daemon

defaults
  log     global
  option  dontlognull
  timeout connect 5000
  timeout client  50000
  timeout server  50000

frontend kubernetes
  bind {{ vip }}:8443
  mode tcp
  default_backend kube-apiservers

backend kube-apiservers
  mode tcp
  balance roundrobin
{% for host in groups['masters'] %}
  server {{ host }} {{ hostvars[host].ansible_host }}:6443 check
{% endfor %}
